<div class="login-form-container  w-300">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card  class="login-card">
      <mat-card-header>
        <mat-card-title>Shipping Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="email" formControlName="email">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="password" formControlName="password" type="password">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="tertiary" type="submit">Submit</button>
        <a mat-button type="link" [routerLink]="['/auth/reset-password']" >Forgot Password?</a>
        <a mat-button type="link" [routerLink]="['/auth/register']">Register</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

