<div
  class="relative main-layout-container px-12 py-8 flex flex-row w-screen h-screen !overflow-y-auto"
>
  <app-profile></app-profile>
  <mat-tab-group
    (selectedIndexChange)="onTabChange($event)"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    class="w-full"
  >
    <mat-tab label="STAT">
      @if(selectedTab == 0){
      <app-stat></app-stat>
      }
    </mat-tab>
    <mat-tab label="INV">
      @if(selectedTab == 1){
      <app-inventory></app-inventory>

      }
    </mat-tab>
    <mat-tab label="DATA">
      @if(selectedTab == 2){
      <app-data></app-data>
      }
    </mat-tab>
    <mat-tab label="MAP">
      @if(selectedTab == 3){
      <app-map></app-map>

      }
    </mat-tab>
    <mat-tab label="SOCIAL">
      @if(selectedTab == 4){
        <app-social></app-social>
      }
    </mat-tab>
  </mat-tab-group>
  <app-setting></app-setting>
  <app-circular-menu></app-circular-menu>
</div>
