<div class=" relative main-layout-container p-4 flex flex-row w-screen">
    <app-profile></app-profile>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="w-full">
        <mat-tab label="STAT"> <app-stat></app-stat> </mat-tab>
        <mat-tab label="INV"> <app-inventory></app-inventory> </mat-tab>
        <mat-tab label="DATA"> <app-data></app-data> </mat-tab>
        <mat-tab label="MAP"> <app-map></app-map> </mat-tab>
        <mat-tab  label="SOCIAL"> <app-social></app-social> </mat-tab>
      </mat-tab-group>
      <app-setting></app-setting>
      

</div>
