<div class="data-container flex  h-full">
    <div class="data-left-content-container flex gap-4 w-full h-full  items-center">
        <div class="stat-navigation-side-bar-container h-fit flex flex-col py-1 gap-9">
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'overview'}"  class="icon-view_comfy" [class.selected]="routingParam === 'overview'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'stats'}" class="icon-stats-bars"[class.selected]="routingParam === 'stats'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'condition'}" class="icon-accessibility1" [class.selected]="routingParam === 'condition'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'calendar'}" class="icon-calendar" [class.selected]="routingParam === 'calendar'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'stack'}" class="icon-stack" [class.selected]="routingParam === 'stack'"></button>
        </div>
        <div class="left-side-bar-content h-full w-full flex flex-col gap-4">
            <div class="left-side-bar-content-grid-items grid gap-4 grid-cols-2 grid-rows-2 w-full">
                <mat-card class="">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="text-text">
                        Text content
                    </mat-card-content>
                </mat-card>
                <mat-card class="">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="text-text">
                        Text content
                    </mat-card-content>
                </mat-card>
                <mat-card class="">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="text-text">
                        Text content
                    </mat-card-content>
                </mat-card>
                <mat-card class="">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="text-text">
                        Text content
                    </mat-card-content>
                </mat-card>
            </div>
            <mat-card class="w-full h-full">
                <mat-card-header>
                    <mat-card-title>Title</mat-card-title>
                    <mat-card-subtitle>Subtitle</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="text-text">
                    Text content
                </mat-card-content>
            </mat-card>
            <mat-card class="w-full h-full">
                <mat-card-header>
                    <mat-card-title>Title</mat-card-title>
                    <mat-card-subtitle>Subtitle</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="text-text">
                    Text content
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    <div class="center-data-content-container flex flex-col px-4 w-full h-full justify-between">
        
        <app-gear-three-d class="flex justify-center items-center"></app-gear-three-d>
        <mat-card class="">
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-text">
                Text content
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="data-left-content-container flex flex-col gap-4 w-full h-full">
        
        <mat-card class="w-full h-full">
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-text">
                Text content
            </mat-card-content>
            
        </mat-card>
        <mat-card class="w-full h-full">
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-text">
                Text content
            </mat-card-content>
            
        </mat-card>
        <mat-card class="w-full h-full" >
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-text">
                Text content
            </mat-card-content>
            
        </mat-card>
        <mat-card class="w-full h-full" >
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-text">
                Text content
            </mat-card-content>
            
        </mat-card>
    </div>
</div>
