

<div class="circular-menu-circle-container">
    <div class="circle-menu">
        <button matTooltip="Info about the action" [matTooltipPosition]="'left'" class="circle-menu-button profile icon-user-tie" mat-icon-button ></button>
        <button matTooltip="Info about the action" [matTooltipPosition]="'right'" class="circle-menu-button social icon-message1" mat-icon-button ></button>
        <button matTooltip="Info about the action" [matTooltipPosition]="'right'" class="circle-menu-button stat icon-stats-bars" mat-icon-button ></button>
        <button matTooltip="Info about the action" [matTooltipPosition]="'right'" class="circle-menu-button inventory icon-storage" mat-icon-button ></button>
        <button matTooltip="Info about the action" [matTooltipPosition]="'right'" class="circle-menu-button data icon-database" mat-icon-button ></button>
        icon-map
        <button matTooltip="Info about the action" [matTooltipPosition]="'right'" class="circle-menu-button map icon-map" mat-icon-button ></button>
        <img class="circular-menu-icon" src="/icons/icon_27.png" alt="">

    </div>
    <div class="transparent-circle">
        
    </div>
    <div class="circle-light">

    </div>

    
</div>
