<div class="login-form-container  w-300">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card  class="login-card " >
      <mat-card-header  >
        <mat-card-title >Login Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="email" formControlName="email">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="password" formControlName="password" type="password">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="tertiary" type="submit">Submit</button>
        <a mat-button type="link" [routerLink]="['/auth/reset-password']" >
          <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
          Forgot Password?</a>
        <a mat-button type="link" [routerLink]="['/auth/register']">Register</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<div class="container mx-auto mt-10">
  <h2 class="text-2xl font-bold text-center mb-4">Custom Colors</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="bg-hookersGreen h-32 p-4 text-white">Hookers Green</div>
    <div class="bg-goldenBrown h-32 p-4 text-white">Golden Brown</div>
    <div class="bg-cafNoir h-32 p-4 text-white">Caf Noir</div>
    <div class="bg-khaki h-32 p-4 text-black">Khaki</div>
    <div class="bg-dutchWhite h-32 p-4 text-black">Dutch White</div>
    <div class="bg-lawnGreen h-32 p-4 text-black">Lawn Green</div>
    <div class="bg-forestGreen h-32 p-4 text-white">Forest Green</div>
    <div class="bg-black h-32 p-4 text-white">Black</div>
    <div class="bg-sgbusGreen h-32 p-4 text-black">SGBus Green</div>
    <div class="bg-darkMossGreen h-32 p-4 text-white">Dark Moss Green</div>
  </div>
</div>